.side-drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 7px 10vw;

    height: 100vh;
    width: 20ch;
    background-color: var(--tertiary-background);
    color: var(--primary-background);
    font-weight: bold;
}
.side-drawer-links:active {
    text-decoration: underline;
}

.side-drawer-back-drop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    height: 100vh;
    width: 100vw;

    background-color: var(--tertiary-background-transparent);
}
.close-drawer {
    padding: 0;
    background-color: var(--tertiary-background);
    color: var(--tertiary-text);
    border: none;
}
.close-drawer:hover {
    border: none;
    color: var(--tertiary-text-hover);
}