<!-- 
          ABOUT SECTION
-->
<article id="about">
    <section layout="row">
        <h1 class="mat-display-4">About Me</h1>
    </section>
    <mat-grid-list cols="2" >
        <mat-grid-tile>
            <img class="about-image" src="assets/images/36372741.jpg"
                alt="A MEME. Photo one, shows someone looking away from computer with the text, Me focusing on Zoom meeting. Photo two, shows the same person in the same spot with their head turned slightly towards the camera and them looking directly in the camera with the text, Me checking my angle to make sure I'm still hot." />
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="mat-body-strong">
                A self-driven, Full-Stack Web Engineer, bringing creativity, an innovative spirit, a passion for growth, and high
                personal standards. As a previous team-lead for 4 years, I know the value of a can-do attitude. Let me know what I can
                do for you!
            </p>
        </mat-grid-tile>
    </mat-grid-list>
    <section>
        <p layout="row">
            Before learning web technologies at the University of New Hampshire, I spent four years leading a team
            of
            Merchandisers that was regularly ahead of schedule and able to assist other teams who had fallen behind.
            We
            achieved this by starting with larger projects in the morning and then sprinkling in smaller projects we
            could complete before the day’s end. Each project was completed in an MVP fashion allowing us to get the
            bulk of the work done quickly. Within the last hour or two of the day, we were able to revisit those
            projects if any changes were requested. This allowed us to complete projects in less time than was
            recommended. After each two-week sprint, the client had hundreds of new products to meet growing
            customer
            demand as well as a cleaner, more organized user-interface.
        </p>
    </section>
    <section layout="row" class="technical-skills">
        <h3 layout="row">Technical Experience</h3>
        <div layout="column" class="tech-skill-list">
            <h4>Front-End</h4>
            <ul class="skill-list">
                <li>HTML5, CSS3, JavaScript</li>
                <li>Bootstrap</li>
                <li>Moment</li>
                <li>JQuery</li>
                <li>AJAX</li>
                <li>API's (Web and 3rd-Party)</li>
            </ul>
        </div>
        <div layout="column" class="tech-skill-list">
            <h4>Back-End</h4>
            <ul class="skill-list">
                <li>MySQL</li>
                <li>Sequelize</li>
                <li>NoSQL</li>
                <li>MongoDB</li>
                <li>Mongoose</li>
                <li>Express</li>
                <li>Express-Handlebars</li>
                <li>Node.js</li>
                <li>Inquirer</li>
                <li>Axios</li>
                <li>Passport.js</li>
                <li>Jest</li>
                <li>3rd-Party API's</li>
            </ul>
        </div>
        <div layout="column" class="tech-skill-list">
            <h4>Other</h4>
            <ul class="skill-list">
                <li>Git</li>
                <li>Github</li>
                <li>Git Bash</li>
                <li>MySQL Workbench</li>
                <li>Robo 3T</li>
                <li>Heroku</li>
                <li>Slack</li>
                <li>Zoom</li>
            </ul>
        </div>
    </section>
    <section class="personal-interests">
        <div layout="row">
            <div layout="column">
                <h3>Personal Interests</h3>
                <ul class="interest-list">
                    <li>Personal Finance</li>
                    <li>Psychology</li>
                    <li>Video Games</li>
                    <li>Comedies</li>
                    <li>Stock Market</li>
                    <li>Music Production</li>
                    <li>Electric Guitar</li>
                </ul>
            </div>
            <div layout="column">
                <h3>My Custom Gaming PC</h3>
                <ul class="interest-list">
                    <li>Motherboard: ASRock B450 Steel Legend</li>
                    <li>CPU: AMD Ryzen 5 3600</li>
                    <li>GPU: MSI GTX 1660ti</li>
                    <li>RAM: 16GB DDR4 Vengeance RGB Pro 3200MHz</li>
                </ul>
            </div>

        </div>
    </section>
</article>