<section class="row">
        <h2 class="col-sm-12 contact-header">Contact</h2>
        <hr />
      </section>
      <form action="#">
        <div class="row">
          <!-- Name and Email forms -->
          <section class="col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="John Smith" name="name" />
          </section>
          <section class="col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Example@email.com" name="email" />
          </section>
        </div>
        <div class="row">
          <!-- Message and Submit button -->
          <section class="col-sm-12">
            <label for="form-message">Message</label>
            <textarea type="text" class="form-control" rows="7" id="form-message"
              placeholder="Tell me something about my eyes..." name="email"></textarea>
            <input type="submit" value="Submit" class="col-md-2 col-sm-12 text-uppercase font-weight-bold">
          </section>
        </div>
      </form>