main.App {
  background-color: #282c34;
    padding: 5vw;
}

h1 {
    font-size: calc(10px + 5vw);
}
h2 {
    font-size: calc(10px + 5vw);
}

header.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header span.hero-name {
    color: rgb(167, 86, 243);
}
