main {
    margin: 0 10vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem, 0;
    min-height: 100vh;
}
.row {
    display: flex;
    flex-direction: row;
}
.float-right {
    float: right;
}

h1 {
    font-size: calc(1rem + 3vw);
}
h2 {
    font-size: calc(1rem + 3vw);
}
/* @media screen and (max-height: ) */

header.App-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img, .btn {
    border-radius: 5px;
}