:root {
    --primary-background: #282c34;
    --tertiary-background: #1f2229;
    --tertiary-background-transparent: #1f222994;
    --primary-color: #9606da;
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

body {
    width: 100vw;
    overflow-x: clip;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--primary-background);
    font-family: 'Poppins', sans-serif;
}
.App {
    padding: 0;
    margin: 0;
}
button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}
button:hover {
    border: 2px solid white;
}
/* 
    TOOLTIP
*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: var(--primary-background);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    font-size: 0.5rem;
}
.tooltip-text {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
}
span.tooltip-text {
    font-size: x-large;
}
/* END OF TOOLTIP */