:root {
    --primary-background: #292b2e;
    --tertiary-background: #d3cdc7;
    --tertiary-text: #2c2c2c;
    /* 2c2c2c */
    --tertiary-text-hover: #2326e4;
    --tertiary-background-transparent: #1f222994;
    --primary-color: #e0b31f;
    --test: #238de4;
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

body {
    width: 100vw;
    overflow-x: clip;
    margin: 0;
    padding: 0;
    color: rgb(221, 221, 221);
    background-color: var(--primary-background);
    font-family: 'Poppins', sans-serif;
}
.App {
    padding: 0;
    margin: -4rem 0 0;
}
button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
button a {
    text-decoration: none;
    color: var(--primary-background);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}
button:hover {
    border: 2px solid #238de4;
}
/* 
    TOOLTIP
*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip-arrow {
    visibility: hidden;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    background-color: var(--tertiary-background);
    
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: var(--tertiary-background);
    color: var(--tertiary-text);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text, .tooltip:hover .tooltip-arrow {
    visibility: visible;
    font-size: 0.8rem;
}
.tooltip-text {
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
}
/* END OF TOOLTIP */