:root {
    --primary-background: rgb(40, 44, 52);
    --primary-color: rgb(164, 77, 245);
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--primary-background);
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}