article.contact {
    align-items: unset;
}

/* 
    FLEX LAYOUT
*/
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}
form.form {
    padding: 0 10vw;
}

.form-left {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-right {
    flex-grow: 3;
    flex-shrink: 2;
    min-width: 300px;
}

div.logos {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@media screen and (max-width: 806px) {
    div.logos {
        order: 5;
    }
}
@media screen and (mIN-width: 1190px) {
    div.logos {
        min-width: 300px;
    }
}
img.social-profile-logo {
    height: 7vw;
    min-height: 60px;
    max-height: 75px;

    border-radius: 5px;
}
/* END FLEX LAYOUT */

/* 
    ELEMENT STYLING
*/
form label, form input {
    display: block;
}

input[type=submit], input[type=text] {
    width: 100%;
}
input[type=submit], input[type=text], textarea {
    /* box-shadow: 0px 1px 5px rgba(0,0,0,0.5); */
    border: 1px solid black;
    border-radius: 5px;
}
textarea {
    width: 100%;
}
/* END ELEMENT STYLING */

/* 
    SUBMIT BUTTON 
*/
input[type=submit] {
    background-color: var(--primary-color);
    color: white;
}
input[type=submit]:hover {
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    100% {
        transform: perspective(500px) translateZ(10px);
        background-color: rgb(154, 45, 255);
        color: white;
    }
}
/* END SUBMIT BUTTON */

/* 
    FORM ERROR START 
*/
.contact-form-required {
    /* box-shadow: 1px 1px red, -1px -1px red, -1px 1px red, 1px -1px red; */
    box-shadow: 0px 0px 0px 2px red;
}
.contact-form-filled {
    box-shadow: none;
}
