article.contact {
    align-items: unset;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: space-around;
}

form.form {
    padding: 0 10vw;
}

.form-left {
    flex-grow: 1;
    flex-shrink: 1;
}
.form-right {
    flex-grow: 3;
    flex-shrink: 0;
    min-width: 300px;
}

form label, form input {
    display: block;
}

input[type=submit], input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
}