:root {
    --my-blue: #120148;
    --my-orange: #ffc848;
}

body, html {
    height: 100%;
    margin: 0;
    
}

body {
    background-image: url(index-hero.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    margin: 10px;
    background-color: #1201488e;
}

.navbar-brand {
    color: var(--my-orange);
}

.logo-brackets {
    color: #e23ced;
}

.card {
    margin: 100px 20px -40px;
    color: var(--my-orange);
}

.card-body {
    background-color: var(--my-blue);
}

.card-text {
    margin: auto 15%;
}
