<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description"
        content="The official portfolio site of Brendan Leighton, Full-Stack Web Developer. He's looking for work, remote-friendly, Agile by nature, strives to do better, and likes long walks on the beach.">
    <title>Brendan Leighton</title>
    <link rel="icon" href="assets/Images/Logo-Icon-brackets.svg" type="image/icon type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="./js/index.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="navbar">
            <a class="navbar-brand" href="/">
                Brendan Leighton
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                aria-label="Toggle for navigation bar. Open to access the navigation buttons.">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><span class="nav-bar-link">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects"><span class="nav-bar-link">Projects</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#social-media"><span class="nav-bar-link">Social Media</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- HEADER -->

    {{{ body }}}

    <!-- FOOTER -->
    <footer>
        {{!-- SOCIAL MEDIA --}}
        <article class="social-media d-flex justify-content-center" id="social-media">
            <a href="https://www.linkedin.com/in/brendan-leighton/" target="_blank"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/BR3NDAN-L8N" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.facebook.com/brendan.leighton.1" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
        </article>
        <div class="copyright">Brendan Leighton © 2020</div>
        <br />

        <!-- 
            CONTACT SECTION
       -->
       {{!-- Floating email button in bottom right of screen --}}
        <button class="btn email-button">
            <i class="far fa-envelope fa-2x"></i>
        </button>
        
        <form action="#" class="email-form hide">
            <button class="exit-button"><span class="exit-button-x">x</span></button>
            <div class="row">
                <!-- Name and Email forms -->
                <section class="col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" placeholder="John Smith" name="name" />
                </section>
                <section class="col-md-6">
                    <label for="email">Your Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Example@email.com" name="email" />
                </section>
            </div>
            <div class="row">
                <!-- Message and Submit button -->
                <section class="col-sm-12">
                    <label for="form-message">Message</label>
                    <textarea type="text" class="form-control" rows="7" id="form-message"
                        placeholder="Tell me something about my eyes..." name="email"></textarea>
                    <input type="submit" value="Submit" id="submit-email-button" class=" col-sm-12 text-uppercase font-weight-bold">
                </section>
            </div>
        </form>
        <article class="email-sent-success-modal container hide">
            <button class="exit-button-modal"><span class="exit-button-x">x</span></button>
            <h2 class="email-modal-header">Email Sent!</h2>
            <p class="row email-modal-text">You should receive a confirmation email shortly. It may have been sent to your spam folder.</p>
        </article>
    </footer>
    <!-- FOOTER -->
</body>

</html>
