<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description"
        content="The official portfolio site of Brendan Leighton, Full-Stack Web Developer. He's looking for work, remote-friendly, Agile by nature, strives to do better, and likes long walks on the beach.">
    <title>About Me</title>
    <link rel="icon" href="assets/Images/Logo-Icon-brackets.svg" type="image/icon type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <main>

        <!-- HEADER -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="navbar">
                <a class="navbar-brand" href="index.html">
                    Brendan Leighton
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                    aria-label="Toggle for navigation bar. Open to access the navigation buttons.">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#project"><span class="nav-bar-link">Portfolio</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><span class="nav-bar-link">About</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#contact"><span class="nav-bar-link">Contact</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- HEADER -->

        {{{ body }}}

        <!-- FOOTER -->
        <footer id="contact">
            <div>Brendan Leighton © 2020</div>
            <br />
            <div class="social-links">
                <a href="https://www.linkedin.com/in/brendan-leighton/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/BR3NDAN-L8N" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </footer>
        <!-- FOOTER -->
    </main>
</body>

</html>