a.nav-link {
    padding: 0 0.25em;
    margin: unset auto;
}
.nav-link:hover {
    cursor: pointer;
    background-color: var(--primary-background);
    color: var(--tertiary-background);
    border-radius: 5px;
}
.nav-link:active {
    text-decoration: underline;
}