<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <style type="text/css">
        :root {
            --my-blue: ;
            --my-orange: ;
            --my-pink: ;
        }

        h2.message-header {
            
        }

        .social-media,
        div.copyright {
            
        }

        article.social-media a {
            
        }

        div.copyright {
            
        }
    </style>
</head>

<body style="margin: 0px;
            padding: 0px;
            background-color: #120148;">
    <header style="padding: 20px 0px;
            margin: 0px;
            background-color: #120148;
            color: white;">
        <article class="hero">
            
            <h1 style="text-align: center;
            color: white;">Brendan Leighton</h1>
            <h1 style="font-size: 16px; text-align: center;
            color: white;">FULL-STACK ENGINEER</h1>
        </article>
    </header>
    <main style="margin: 4px;
            padding: 0px 10vw;">
        <p style="text-align: justify;
            text-justify: inter-word;
            margin: 50px 15vw; color: #fccf68">
           Hey {{ name }},
            <br /><br />
            Thank you for reaching out to me! If you are viewing this email, then I have successfully received your email and will respond as soon as possible. I will reply from this email address. Be sure to mark this email as "important" so as not to miss my reply! If you have any additional questions, comments, or concerns, don't hesitate to send me another message! If you want to view my portfolio, you can <a style="color: #e23ced" href="https://brendanleighton.com/">here</a>.
            <br /><br />
            Sincerely,
            <br />
            Brendan Leighton
        </p>
        <p style="text-align: justify;
            text-justify: inter-word;
            margin: 50px 15vw; color: #fccf68">
            Your message to me, <br /><br />
            "<i>{{ message }}</i>"
        </p>

    </main>
    <footer style="margin: 50px;">
        {{!-- SOCIAL MEDIA --}}
        <article class="social-media d-flex justify-content-center" style="text-align: center;
            margin-top: 20px;">
            <a href="https://www.linkedin.com/in/brendan-leighton/" target="_blank" style="color: #e23ced;
            margin: auto 10px;">LinkedIn</a>
            <a href="https://github.com/BR3NDAN-L8N" target="_blank" style="color: #e23ced;
            margin: auto 10px;">Github</a>
            <a href="https://www.facebook.com" target="_blank" style="color: #e23ced;
            margin: auto 10px;">Facebook</a>
        </article>
        <a href="https://br3ndan-l8n.github.io/Portfolio/" target="_blank">
            <div style="text-align: center;
            margin-top: 20px; color: #fccf68;">Brendan Leighton © 2020</div>
        </a>
    </footer>

</body>

</html>
