<main>
<!-- 
          ABOUT SECTION
       -->
    <article id="about">
      <section class="row">
        <h2 class="col-12">About Me</h2>
        <hr />
      </section>
      <section class="row">
        <figure class="col-lg-4 col-sm-12">
          <img class="about-image" src="assets/Images/Me-MEME.png"
            alt="A MEME. Photo one, shows someone looking away from computer with the text, Me focusing on Zoom meeting. Photo two, shows the same person in the same spot with their head turned slightly towards the camera and them looking directly in the camera with the text, Me checking my angle to make sure I'm still hot." />
        </figure>
        <div class="col-lg-8 col-sm-12">
          <p class="row">My name's Brendan Leighton (Pronounced: bren-den lay-ten). I'm Full-Stack Web Developer with experience in web technologies such as HTML, CSS, Javascript, Bootstrap 4, Moment.js, JQuery, web APIs, third-party APIs, Git (GitHub), MongoDB, Express, React, and Node.js, as well as an understanding of web design principles. I enjoy making cleanly written interactive applications that provide user value. I hope to someday take part in creating such great digital products that users feel it improves the quality of their lives. 
          </p>
          <br />
          <p class="row">
            Before learning web technologies at the University of New Hampshire, I spent four years leading a team of Merchandisers that was regularly ahead of schedule and able to assist other teams who had fallen behind. The frequent successes of the team were greatly due to our ability to be flexible. Following an Agile methodology, with constant communication with the client, we produced an MVP to meet their standards, happily making changes whenever requested. After each sprint, the client had hundreds of new products to meet growing customer demand as well as a cleaner, more organized user-interface.
          </p>
        </div>
      </section>
    </article>
    
  </main>