<main>
    <!-- 
          ABOUT article
       -->
    <section id="about">
        <header class="row page-header">
            <h1 class="col-12">About Me</h1>
            <hr />
        </header>
        <article class="row">
            <header class="col-12">
                <h2>Intro</h2>
            </header>
            <figure class="col-lg-4 col-sm-12">
                <img class="about-image" src="assets/Images/Me-MEME.png"
                    alt="A MEME. Photo one, shows someone looking away from computer with the text, Me focusing on Zoom meeting. Photo two, shows the same person in the same spot with their head turned slightly towards the camera and them looking directly in the camera with the text, Me checking my angle to make sure I'm still hot." />
            </figure>
            <div class="col-lg-8 col-sm-12">
                <p class="row intro">
                    Hey! I'm Brendan Leighton, pronounced "bren-din lay-tin." I live in northern NH, US, but I am available and seeking
                    remote work. Server-side features involving databases, such as querying and routing, are among my favorite to code. I
                    think that stuff is super cool. I'm not looking for strictly back-end work and am open to all offers. Given adequate
                    time, I can learn and accomplish anything.
                </p>
        </article>
        <article class="technical-skills row d-flex justify-content-around">
            <header class="col-12">
                <h2 class="text-center">Technical Experience</h2>
            </header>
            <p class="col-12">
                Here is the bulk of the technologies I've experienced. Being a recent boot-camp graduate, I'm more of a
                "jack of trades,
                master of none" developer. Part of the thrill of gaining a developer job is focusing on fewer
                technologies and maturing
                into a rockstar coder.
            </p>
            <div class="col-sm-3 tech-skill-list mb-4">
                <h3>Client-Side</h3>
                <ul class="skill-list">
                    <li>HTML5, CSS3, JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Moment</li>
                    <li>JQuery</li>
                    <li>AJAX</li>
                    <li>Angular</li>
                    <li>React</li>
                </ul>
            </div>
            <div class="col-sm-3 tech-skill-list mb-4">
                <h3>Server-Side</h3>
                <ul class="skill-list">
                    <li>MySQL</li>
                    <li>Sequelize</li>
                    <li>MongoDB</li>
                    <li>Mongoose</li>
                    <li>Express</li>
                    <li>Express-Handlebars</li>
                    <li>Node.js</li>
                    <li>Nest.js</li>
                    <li>Axios</li>
                    <li>Passport.js</li>
                    <li>Jest</li>
                </ul>
            </div>
            <div class="col-sm-3 tech-skill-list">
                <h3>Other-Side</h3>
                <ul class="skill-list">
                    <li>Git</li>
                    <li>Github</li>
                    <li>Git Bash</li>
                    <li>MySQL Workbench</li>
                    <li>Robo 3T</li>
                    <li>Heroku</li>
                    <li>Slack</li>
                    <li>Zoom</li>
                </ul>
            </div>
        </article>
        <article class="row">
            <header class="col-12">
                <h2 class="text-center">Education</h2>
            </header>
            <p class="col-lg-8 col-xs-12">
                I graduated from UNH's Full-stack coding Bootcamp in December 2020. It was a 24-week course that touched
                upon nearly all
                the technologies I have listed in the previous section. Due to the plethora of recent Bootcamp grads,
                the job market
                appears oversaturated with React developers. In an endeavor to be a more beneficial applicant, I chose
                to learn Angular
                and Nest.
            </p>
            <figure class="col-lg-4 col-xs-12">
                <img class="bootcamp-certificate" src="assets/Images/unh-certificate.jpg"
                    alt="Certificate from University of New Hampshire" />
            </figure>
        </article>
        <article class="row personal-interests d-flex justify-content-around">
            <header class="col-12">
                <h2 class="text-center">Personal Interests</h2>
            </header>
            <div class="row d-flex justify-content-around">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>I Like Lists</h3>
                        <ul class="interest-list">
                            <li>Personal Finance</li>
                            <li>Psychology</li>
                            <li>Video Games</li>
                            <li>Comedies</li>
                            <li>Stock Market</li>
                            <li>Music Production</li>
                            <li>Electric Guitar</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Besides coding, my most researched topics are finance related. The more you know, the more
                            your wallet grows. I'm a
                            frugal person. So frugal that friends and family mistake me for being cheap. However, I will
                            spend where it counts.
                            Often, efficiency is worth time and money. That's why I bought a cordless vacuum.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>My Custom Gaming PC</h3>
                    <ul class="interest-list">
                        <li>Motherboard: ASRock B450 Steel Legend</li>
                        <li>CPU: AMD Ryzen 5 3600</li>
                        <li>GPU: MSI GTX 1660ti</li>
                        <li>RAM: 16GB DDR4 Vengeance RGB Pro 3200MHz</li>
                    </ul>
                </div>

            </div>
        </article>
    </section>

</main>