<main>
    <!-- 
          ABOUT article
       -->
    <section id="about">
        <header class="row page-header">
            <h1 class="col-12">About Me</h1>
            <hr />
        </header>
        <article class="row">
            <header class="col-12">
                <h2>Intro</h2>
            </header>
            <figure class="col-lg-4 col-sm-12">
                <img class="about-image" src="assets/Images/Me-MEME.png"
                    alt="A MEME. Photo one, shows someone looking away from computer with the text, Me focusing on Zoom meeting. Photo two, shows the same person in the same spot with their head turned slightly towards the camera and them looking directly in the camera with the text, Me checking my angle to make sure I'm still hot." />
            </figure>
            <div class="col-lg-8 col-sm-12">
                <p class="row intro">
                    Hey! I'm Brendan Leighton, pronounced "bren-din lay-tin." I live in northern NH, US, but I am
                    available and seeking
                    remote work. Server-side features involving databases, such as querying and routing, are my favorite
                    to code. I think
                    that stuff is super cool. I'm not looking for strictly back-end work. Given adequate time, I can
                    learn and accomplish
                    anything.
                </p>
        </article>
        <article class="technical-skills row d-flex justify-content-around">
            <header>
                <h2 class="row text-center">Technical Skills</h2>
            </header>
            <div class="col-sm-3 tech-skill-list mb-4">
                <h3>Front-End</h3>
                <ul class="skill-list">
                    <li>HTML5, CSS3, JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Moment</li>
                    <li>JQuery</li>
                    <li>AJAX</li>
                    <li>API's (Web and 3rd-Party)</li>
                </ul>
            </div>
            <div class="col-sm-3 tech-skill-list mb-4">
                <h3>Back-End</h3>
                <ul class="skill-list">
                    <li>MySQL</li>
                    <li>Sequelize</li>
                    <li>NoSQL</li>
                    <li>MongoDB</li>
                    <li>Mongoose</li>
                    <li>Express</li>
                    <li>Express-Handlebars</li>
                    <li>Node.js</li>
                    <li>Inquirer</li>
                    <li>Axios</li>
                    <li>Passport.js</li>
                    <li>Jest</li>
                    <li>3rd-Party API's</li>
                </ul>
            </div>
            <div class="col-sm-3 tech-skill-list">
                <h3>Other</h3>
                <ul class="skill-list">
                    <li>Git</li>
                    <li>Github</li>
                    <li>Git Bash</li>
                    <li>MySQL Workbench</li>
                    <li>Robo 3T</li>
                    <li>Heroku</li>
                    <li>Slack</li>
                    <li>Zoom</li>
                </ul>
            </div>
        </article>
        <article class="personal-interests">
            <div class="row d-flex justify-content-around">
                <div class="col-sm-3 mb-4">
                    <h3>Personal Interests</h3>
                    <ul class="interest-list">
                        <li>Personal Finance</li>
                        <li>Psychology</li>
                        <li>Video Games</li>
                        <li>Comedies</li>
                        <li>Stock Market</li>
                        <li>Music Production</li>
                        <li>Electric Guitar</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>My Custom Gaming PC</h3>
                    <ul class="interest-list">
                        <li>Motherboard: ASRock B450 Steel Legend</li>
                        <li>CPU: AMD Ryzen 5 3600</li>
                        <li>GPU: MSI GTX 1660ti</li>
                        <li>RAM: 16GB DDR4 Vengeance RGB Pro 3200MHz</li>
                    </ul>
                </div>

            </div>
        </article>
    </section>

</main>