:root {
    --my-blue: #120148;
    --my-orange: #fccf68;
    --my-pink: #e23ced;
}

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
    margin: 0;
    
}

body {
    background-image: url(../Images/index-hero.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header nav {
    margin: 5px;
    background-color: #120148d0;
    border-radius: 5px;
}

header nav a.navbar-brand {
    color: var(--my-orange);
}

header nav a span.logo-brackets {
    color: var(--my-pink);
}

main.container {
    padding: 0;
}

main article.card {
    padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

/* From left to right, Index/About, Portfolio, Contact */
main article section div hr, main div hr, main form div hr {
    height: 3px;
    width: 100%;
    margin: 10px 0px 20px;
    border-color: var(--my-orange);
    text-align: center;
}

main article.card {
    margin: 100px 20px -40px;
    color: var(--my-orange);
    background-color: var(--my-blue);
}

main article section div div div figure img {
    border-radius: 5px;
}

/* Portfolio nested cards */
main div div div section div.card {
    margin: 20px auto;
}

/* From right to left: Index/About, Portfolio */
main article section.card-body, main div div div section div.card-body {
    background-color: var(--my-blue);
}

/* Index/About only */
/* main article section div div div p.card-text {
    margin: auto 15px;
} */

/* Links */
/* Navbar on all pages */
header nav a, header nav div ul li a,
/* Portfolio Only*/
main div div div section div div a {
    cursor: pointer;
    color: var(--my-pink);
}

/* From left to right: Index/About && Portfolio, Portfolio, Contact */
main article.card, main div div div section div.card  {
    border: 2px ridge var(--my-orange);
    border-radius: 5px;
}

/* Form selectors present on Contact only */
input, textarea {
    margin: 0px auto 25px;
}

input[type=submit] {
    background-color: var(--my-pink);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
/* End of Form selectors */


@media (min-width: 769px) {
    main div div div section div img {
        height: 20vw;
        width: 100%;
    }
    
    main div div div section div img.horiseon-image {
        height: 20vw;
        width: 100%;
        object-fit: cover;
    }
}



  @media (max-width: 768px) {
      main div div div section div img {
          height: 400px;
          width: 100%;
      }
  }

