:root {
    --my-blue: #120148;
    --my-orange: #fccf68;
    --my-pink: #e23ced;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-size: medium;
    background-color: var(--my-blue);
}

img, .project-image {
    border-radius: 5px;
}


/* 
    NAV-BAR - can't find something? check @Media at bottom
*/
header nav {
    margin: 0px;
    background-color: var(--my-blue);
    border-bottom: 2px solid black;
    font-size: 18px;
}
.img-logo {
    width: auto;
    height: 45px;
}
header nav a, header nav div ul li a {
    cursor: pointer;
}
#collapsibleNavbar {
    color: var(--my-orange);
}
.nav-bar-link:hover, .navbar-nav li>a:focus, .navbar-nav li.nav-item.active {
    color:var(--my-orange);
}


/* 
    MAIN - can't find something? check @Media at bottom
*/
main {
    padding-top: 30px;
    width: 100%;
}
h2 {
    font-size: 3em;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
/* Horizontal Rule for each section, About, Portfolio, Contact */
main article section hr{
    height: 3px;
    width: 100%;
    margin: 20px 0px 100px;
    border-color: var(--my-orange);
    text-align: center;
    border-width: 1px;
}
.row, .container{
    margin: auto 0px;
    padding: auto 0px;
}
main article {
    color: var(--my-orange);
    background-color: var(--my-blue);
    padding: 110px 100px;
}
main article:nth-child(odd) {
    background-color: #1d0d58;
}


/* 
    HERO ARTICLE - can't find something? check @Media at bottom
*/
article.hero {
    height: 100vh;
}
article.hero svg.logo {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 100%;
}
h1.hero-title {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* 
    PROJECT ARTICLE - can't find something? check @Media at bottom
*/
img.project-image {
    border-radius: 5px;
}

section.individual-project-section {
    margin: 0px 0px 75px;
    padding: 0px 0px 25px;
}
h3.project-title {
    margin-bottom: 30px;
}
p.project-description{
    margin: 20px 0px;
}
div.project-links {
    text-align: center;
}
a.project-link {
    cursor: pointer;
    color: var(--my-pink);
    text-decoration-line: none;
}
a.project-link:hover {
    color: var(--my-orange);
}


/* 
    ABOUT ARTICLE - can't find something? check @Media at bottom
*/
img.about-image {
    width: 100%;
    height: auto;
}


/* 
    CONTACT FORM - can't find something? check @Media at bottom
*/
input, textarea {
    margin: 0px auto 25px;
}

input[type=submit] {
    background-color: var(--my-pink);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}


/* 
    MEDIA QUERIES
*/
@media (min-width: 992px) {
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
    }
    img {
        height: auto;
        width: 300px;
    }
}

@media (max-width: 991px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: #ffffff;
    }
    img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 500px) {
    main article {
        padding: 110px 15px;
    }
}