<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body style="margin: 0px;
            padding: 0px;
            background-color: rgb(40, 44, 52);
            font-family: 'Poppins', sans-serif;">
    <header style="padding: 20px 0px;
            margin: 0px;
            background-color: rgb(31, 34, 41);
            color: white;">
        <article class="hero">

            <h1 style="text-align: center;
            color: white;">Brendan Leighton</h1>
            <h1 style="font-size: 16px; text-align: center;
            color: white;">FULL-STACK ENGINEER</h1>
        </article>
    </header>
    <main style="margin: 4px;
            padding: 0px 10vw;">
        <h2 style="text-align: center;
            color: white;">Name:
            <span style="color: rgb(164, 77, 245)">{{ name }}</span>
        </h2>
        <h2 style="text-align: center;
            color: white;">Email:
            <span style="color: rgb(164, 77, 245)">{{ email }}</span>
        </h2>
        <h2 style="text-align: center;
            color: white; margin: 50px auto -20px;">Message:</h2>
        <p style="
            text-indent: 48px;
            margin: 50px 10vw; color: white">
            {{ message }}
        </p>

    </main>
    <footer style="
        background-color: rgb(31, 34, 41);
        padding: 50px;">
        {{!-- SOCIAL MEDIA --}}
        <article class="social-media d-flex justify-content-center" style="text-align: center;
            margin-top: 20px;">
            <a href="https://www.linkedin.com/in/brendan-leighton/" target="_blank" style="color: rgb(164, 77, 245);
            margin: auto 10px;">LinkedIn</a>
            <a href="https://github.com/BR3NDAN-L8N" target="_blank" style="color: rgb(164, 77, 245);
            margin: auto 10px;">Github</a>
        </article>
        <div style="text-align: center;
            margin-top: 20px; color: white;">Brendan Leighton © 2020</div>
    </footer>
</body>

</html>