div.about-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.about-figure {
    flex: 1 0 350px;
    display: flex;
    justify-content: center;
}
.about-text {
    flex: 1 0 350px;
    max-width: 450px;
    padding: 10px;
}

img.about-image {
    height: 40vw;
    width: 40vw;
    max-height: 300px;
    max-width: 360px;
    min-height: 200px;
    min-width: 260px;
    margin: auto;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}