nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    align-self: flex-start;   
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 10vw;
    background-color: var(--tertiary-background);
    color: var(--tertiary-text);
    font-size: large;
    z-index: 999;    
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.fa-bars-button {
    display: none;
    background-color: var(--tertiary-background);
    color: var(--tertiary-text);
    border: none;
}
button.fa-bars-button:hover {
    color: var(--tertiary-text-hover);
    text-decoration: none;
    border: none;
}

@media screen and (max-width: 629px) {
    .nav-links {
        display: none;
    }

    .fa-bars-button {
        display: block;
    }
}

