nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    padding: 0 10vw 0 9vw;
    background-color: var(--tertiary-background);
    font-size: large;
    z-index: 1000;    
}

.nav-links {
    display: flex;
    justify-content: space-around;
}