.email-modal {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, -100%);
    z-index: 500;

    width: 100vw;
    height: auto;
    margin-top: 8vh;
    text-align: center;


    /* visibility: none; */

    background-color: var(--primary-color);
    /* color: white; */
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);

    
    animation: displayModal 0.5s ease-in-out forwards;
}
@keyframes displayModal {
    from {
        top: 0%;
        left: 0%;
        transform: translate(0%, -100%);
    }
    to {
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
}

p.modal-text {
    position: relative;
    top: 50%;
    
    font-size: 0.8rem;
    margin: 0px 10vw;
    padding: 25px;
}
button.close-modal {
    position: inherit;
    top: 50%;
    left: 90%;
    transform: translate(-0%, -50%);

    background-color: var(--primary-color);
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: auto;
    width: 5vw;
    height: auto;
}
img.close-image {

}

