.email-modal {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, -100%);
    z-index: 500;

    width: 100vw;
    height: auto;
    margin-top: 8vh;
    text-align: center;


    /* visibility: none; */

    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
.display-modal {
    animation: displayModal 1s ease-in forwards;

}
@keyframes displayModal {
    from {
top: 0%;
    left: 0%;
    transform: translate(0%, -100%);
    }
    to {
top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    }
    
    /* 100% {
        transform: perspective(500px) translateZ(10px);
        background-color: rgb(154, 45, 255);
        color: white;
    } */
}
.hide-modal {
}